@model PartyInvites.Models.GuestResponse

@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width" />
	<title>RsvpForm</title>
	<link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
</head>
<body>
	<div>
		@using (Html.BeginForm())
		{
			@Html.ValidationSummary()
			<p>Your Name: @Html.TextBoxFor(x => x.Name)</p>
			<p>Your Email: @Html.TextBoxFor(x => x.Email)</p>
			<p>Your Phone: @Html.TextBoxFor(x => x.Phone)</p>
			<p>
				Will you attend?
				@Html.DropDownListFor(x => x.WillAttend, new[] {
					new SelectListItem() { Text = "Yes, I'll be there.", Value = bool.TrueString },
					new SelectListItem() { Text = "No, I can't come.", Value = bool.FalseString }
				}, "Choose an option")
			</p>
			<button type="submit">Submit RSVP</button>
		}
	</div>
</body>
</html>
